footer {
  background-color: $Dark-Gray;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-container {
    color: $White;
    text-decoration: none;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    .footer-left {
      a {
        font-weight: 800;
        text-decoration: none;
        background: linear-gradient(
          to right top,
          #7f004e,
          #8d0054,
          #9b0059,
          #a9005e,
          #b80062,
          #ae0064,
          #a40065,
          #9a0266,
          #740a5f,
          #500d53,
          #2d0b43,
          #110030
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .footer-right {
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
        color: $White;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  footer {
    background-color: $Dark-Gray;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container {
      color: $White;
      text-decoration: none;
      width: 834px;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      .footer-left {
        a {
          font-weight: 800;
          text-decoration: none;
          background: linear-gradient(
            to right top,
            #7f004e,
            #8d0054,
            #9b0059,
            #a9005e,
            #b80062,
            #ae0064,
            #a40065,
            #9a0266,
            #740a5f,
            #500d53,
            #2d0b43,
            #110030
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .footer-right {
        display: flex;
        gap: 20px;
        a {
          text-decoration: none;
          color: $White;
        }
      }
    }
  }
}
@media screen and (max-width: 834px) {
  footer {
    background-color: $Dark-Gray;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container {
      color: $White;
      text-decoration: none;
      width: 375px;
      display: flex;
      justify-content: center;
      padding: 0px 20px;
      .footer-left {
        a {
          font-weight: 800;
          text-decoration: none;
          background: linear-gradient(
            to right top,
            #7f004e,
            #8d0054,
            #9b0059,
            #a9005e,
            #b80062,
            #ae0064,
            #a40065,
            #9a0266,
            #740a5f,
            #500d53,
            #2d0b43,
            #110030
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .footer-right {
        display: none;
        gap: 20px;
        a {
          text-decoration: none;
          color: $White;
        }
      }
    }
  }
}
